
@{
    ViewData["Title"] = "Novo Agendamento";
}

<h2>Nov Agendamento</h2>

<form method="post" action="/agenda/novaagenda">
    
    <div class="form-group">
        <label  for="NomeCliente">Nome do Cliente</label>
        <input name="NomeCliente" id="NomeCliente" type="text" class="form-control" placeholder="Digite seu nome:" />
    </div>
    <div class="form-group">
        <label  for="servico">Serviço</label>
        <select name="servico" id="servico" class="form-control">
            @foreach (var servico in ViewBag.Servicos)
            {
                <option id="servico" value="@servico.Nome" class="form-control">
                    @servico.Nome
                    R$@servico.Valor
                </option>

            }
        </select>
    </div>
    <div class="form-group">
        <label  for="dataHora">Data</label>
        <input name="dataHora" id="dataHora" type="text" class="form-control" placeholder="Ex: 20/05/2020" />
    </div>

    <button type="submit" class="btn btn-success">Agendar</button>
</form>