@{
    ViewData["Title"] = "Index";
}

<h2 style="text-align:center">GERENCIAR AGENDADOS</h2>
<p />
<br />
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Serviço</th>
            <th scope="col">Valor R$</th>
            <th scope="col">Data e hora</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var agenda in ViewBag.agendas)
        {

        <tr>
            <th scope="row">@agenda.Id</th>
            <td>@agenda.Servico</td>
            <td>@agenda.Valor</td>
            <td>@agenda.DataHora</td>
            <td>
                <a href="/@agenda.Id" class="btn btn-success">Realizado</a>
                <a href="/admagenda/excluir/@agenda.Id" class="btn btn-danger">Cancelar</a>
            </td>
        </tr>
        }
    </tbody>
</table>